jsmin>=3.0.0
azure-ai-projects
openai
python-dotenv
azure-identity
azure-storage-blob
azure-mgmt-resource
azure-mgmt-storage
azure-mgmt-search
azure-storage-blob
azure-search-documents
azure-storage-blob
azure-mgmt-search
azure-mgmt-subscription
agent-framework
azure-ai-documentintelligence 
azure-core
google-yamlfmt
pyyaml
ruff
azure-cli